.row-payment{
    height: 100vh;
}
.left-col-payment{
    height: 100%;
    background-color: #fff;
}

.rigth-col-payment{
    height: 100%;
    background-color: var(--accent-color-2);
}

.payment-top{
    background-color: var(--accent-color-1);
    height: 45%;
}

.payment-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--secoundary-color);
}

.payment-total input{
    width: 40%;
    height: 60px;
}

.payment-input{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.money-predict-btn{
    width: 100px;
    height: 50px;
    margin-right: 15px;
}

.money-input{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
}
.money-input input{
    text-align: right;
    width: 100%;
    height: 100px;
}

.process-btn{
    align-self: center;
    margin-top: 10px;
    width: 230px ;
    height: 40px ;
}


.payment-down{
    height: 55%;
}
.row-payment-down{
    height: 100%;
}

.col-keypad{
    display: flex;
    justify-content: center;
    align-items: center;
}

.keypad-number, .keypad-operation{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
}

.keypad-number span, .keypad-operation span{
    width: 32%;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border: 1px solid #bdbdbd;
    color: #fff;
    cursor: pointer;
}