.row-payment{
    height: 100vh;
}
.left-col-payment{
    height: 100%;
    background-color: #fff;
}

.rigth-col-payment{
    height: 100%;
    background-color: var(--accent-color-2);
}

.payment-top{
    background-color: var(--accent-color-1);
    height: 45%;
}

.payment-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--secoundary-color);
}

.payment-total span{
    font-size: 24px;
    font-weight: 500;
}

.amount-total{
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    font-size: 30px;
    width: 40%;
    height: 60px;
    text-align: end;

    display: flex;
    align-items: center; 
    justify-content: flex-end;
}

.payment-input{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

.money-preset-btn{
    width: 100px;
    height: 50px;
    margin-right: 15px;
    font-weight: 500;
}
.money-preset-btn:hover{
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
}

.money-input{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 40%;
}
.money-input input{
    text-align: right;
    padding: 5px;
    font-size: 30px;
    width: 100%;
    height: 100px;
}

.process-btn{
    align-self: center;
    margin-top: 10px;
    width: 230px ;
    height: 40px ;
    font-weight: 500;
    background-color: var(--primary-color);
    color: var(--accent-color-4);
}

.process-btn:hover{
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
}



.payment-down{
    height: 55%;
}
.row-payment-down{
    height: 100%;
}


.col-payment-info{
    display: flex;
}

.payment-info{
    width: 35em ;
    padding: 0 15px;
}


.receipe{
    padding: 5px 15px;
}

.header-receipe{
    margin: 10px 0;
    text-align: center;
}

.logo-receipe{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.adress-receipe{
    display: flex;
    justify-content: center;
}

.no-bon{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin: 2px 0;
}

.header-item-receipe{
    display: flex;
    justify-content: space-between;
    border-top: dashed black 2px;
    border-bottom: dashed black 2px;
    padding: 5px 5px;
    font-size: 12px;
}

.header-item-receipe-no{
    flex: 0.3;
    text-align: left;
}
.header-item-receipe-name{
    flex: 3;
    text-align: center;
}
.header-item-receipe-qty{
    flex: 0.3;
    text-align: center;
}
.header-item-receipe-price{
    flex: 1;
    text-align: right;
}

.item-receipe{
    display: flex;
    justify-content: space-between;
    padding: 3px 5px;
    font-size: 12px;
}

.item-receipe-no{
    flex: 0.3;
    text-align: left;
}
.item-receipe-name{
    flex: 3;
    text-align: left;
}
.item-receipe-qty{
    flex: 0.3;
    text-align: center;
}
.item-receipe-price{
    flex: 1;
    text-align: right;
}

.total-receipe{
    border-top: 2px dashed black ;
    margin-top: 10px;
    padding: 10px 5px;
    font-size: 12px;
}

.total-receipe div{
    display: flex;
    justify-content: space-between;
}

.total-receipe div > span:first-child{
    flex: 2.5;
    text-align: left;
}
.total-receipe div > span:nth-child(2){
    flex: 0.5;
    text-align: center;
}
.total-receipe div > span:last-child{
    flex: 0.7;
    text-align: right;
}

.date-receipe{
    display: flex;
    justify-content: space-between;
    border-top: dashed black 2px;
    border-bottom: dashed black 2px;
    padding: 5px 5px;
    font-size: 12px
}

.sosmed-receipe{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
}


.row-payment-info{
    display: flex;
    justify-content:space-between ;
    font-size: 22px;
    margin:5px 0;
    padding: 5px 0;
    border-bottom: 2px solid #bdbdbd;
}


.payment-options{
    width: 10em;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
}

.payment-options-btn{
    margin-top: 10px;
    font-size: 16px;
}

.payment-actions{
    display: flex;
    flex-direction: column;
    margin-top: auto;
}

.payment-actions-btn{
    height: 60px;
    margin-top: 5px;
    font-size: 16px;
    background-color: var(--primary-color);
    color: var(--accent-color-4);
}

.back-actions-btn{
    font-size: 16px;
}

.payment-options-btn:hover, .back-actions-btn:hover{
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;   
}

.payment-actions-btn:hover{
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
}




.col-keypad{
    display: flex;
    justify-content: center;
    align-items: center;
}

.keypad-number, .keypad-operation{
    width: 450px;
    display: flex;
    flex-wrap: wrap;
}

.keypad-number span, .keypad-operation span{
    width: 32%;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    border: 1px solid var(--accent-color-4);
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}