.row-pkm{
    width: 100%;
    display: flex;
    justify-content: center;
}

.col-pkm{
    height: 100%;
    padding: 15px 0;
}

.search-pkm{
    display: flex;
    justify-content: center;
}

.value-input{
    width: 80%;
}

.pkm-items{
    height: 85%;
    margin-top: 15px;
    background-color: var(--accent-color-4);
    padding: 10px 25px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.pkm-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    height: 60px;
    padding: 0 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: var(--accent-color-2);
}

.acept-btn:hover{
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important; 
}

.modal-title{
    font-size: 22px;
}

.counter{
    display: flex;
    justify-content: center;
}

.count{
    width: 50px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    margin: 0 3px;
    display: flex;
    justify-content: center; 
    align-items: center;  
}

.items-remaining, .items-to-add{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}

.custom-ok-button{
    background-color: var(--primary-color);
    color: var(--accent-color-4);
}

.custom-ok-button:hover{
    border-color: var(--primary-color) !important;
    color: var(--accent-color-4) !important;
    background-color: #3bbe41 !important;
}
.custom-cancel-button{
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important; 
}
.counter-btn:hover{
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important; 
}
.counter-btn:active{
    box-shadow: 0 0 0 3px rgba(0, 200, 0, 0.4) !important; 
    border-color: #2E7D32 !important;
}

