:root {
  --primary-color: #2E7D32;
  --secoundary-color: #A7B9A5;
  --accent-color-1: #EDEDED;
  --accent-color-2: #D6E3D3;
  --accent-color-3: #D9D9D9;
  --accent-color-4: #F5F5F5;
}

.container{
  height: 100vh;
}

.header{
  background-color: var(--primary-color);
  color: var(--accent-color-4);
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer{
  background-color: var(--secoundary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.footer-btn{
  background-color: var(--accent-color-1);
  font-weight: bold;
  width: 130px;
  height: 60px;
  margin: 0 15px ;
}

.footer-btn:hover{
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
}



