:root {
  --primary-color: #2E7D32;
  --secoundary-color: #A7B9A5;
  --accent-color-1: #EDEDED;
  --accent-color-2: #D6E3D3;
  --accent-color-3: #D9D9D9;
  --accent-color-4: #F5F5F5;
}

/* login */
.content-login{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login{
  width: 25%;
  height: 250px;
  padding: 15px;
  padding-top: 20px;
  background-color: #ffffff;
  box-shadow:  -4px 0 20px rgba(0, 0, 0, 0.1);
}

.login div{
  margin: 15px 0 5px 0;
}

.login-button{
  display: flex;
  justify-content: center;
}

.btn-login{
  margin-left: 10px;
  margin-top: 10px;
  height: 40px;
  width: 120px;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--primary-color);
  color: var(--accent-color-4);
}

.btn-login:hover{
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
}

/* home */
.container{
  height: 100vh;
}

.header{
  background-color: var(--primary-color);
  color: var(--accent-color-4);
  font-size: 24px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer{
  background-color: var(--secoundary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.footer-btn{
  background-color: var(--accent-color-1);
  font-weight: bold;
  width: 130px;
  height: 60px;
  margin: 0 15px ;
}

.footer-btn:hover{
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
}

.close-modal{
  width: 400px !important;
}

.form-close{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}

.close-input{
  margin: 5px 0;
  width: 300px;
}




/* main dashboard */

.container-dashboard{
  height: 100vh;
  background-color: #fff;
}

.main-dashboard{
  padding: 10px;
  display: flex;
  height: 100%;
}

.sidebar-dashboard{
  /* color: #fff; */
  padding: 10px 15px;
  width: 20%;
  background-color: var(--accent-color-2);
}

.sidebar-header{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  border-bottom: 2px solid #a4a1a1;
}

.sidebar-header img{
  width: 80px;
  height: 80px;
}

.sidebar-section{
  margin-top: 20px;
}

.sidebar-item{
  padding: 5px;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0;
}

.sidebar-item:hover{
  cursor: pointer;
  border-radius: 5px;
  color: var(--primary-color);
  background-color: #fff;
  border: 1px solid var(--primary-color);
}

.sidebar-item img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.content-dashboard{
  width: 100%;
  /* background-color: var(--accent-color-3); */
  margin-left: 10px;
  /* border-radius: 10px 0 0 10px; */

}

.data-transaction{
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.data-section{
  color: var(--accent-color-1);
  padding: 10px 20px;
  background-color: #073e09;
  width: 300px;
  height: 230px;
  border-radius: 10px;
}

.data-section span{
  font-size: 18px;
}

.growth{
  margin-bottom: 5px;
}

.total-data span{
  font-size: 40px;
  font-weight: 500;
  margin: 10px 0;
}

.bar-chart{
  display: flex;
  justify-content: space-around;
}

.pie-chart{
  display: flex;
  margin-top: 15px;
}

.growth{
  display: flex;
}

.disgrowth{
  display: flex;
}

.list-item{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--accent-color-1);
}

.list-item:hover{
  cursor: pointer;
  border-bottom: 2px solid var(--primary-color);

}

.list-item span{
  font-size: 16px;
  margin-bottom: 5px;
}

.list-item-growth, .list-item-disgrowth{
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  background-color: #fff;
}


/* {
  margin: 10px;
  padding: 10px;
  width: 35%;
  border-radius: 10px;
  background-color: rgb(255, 145, 0);
} */



/* .chart-item-growth{
  display: flex;
  justify-content: center;
} */
